# Database Notes
#### Question? contact "ox." on discord

Utilities, skip to the next part

In [10]:
import pyodbc
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

connection_params = {
    'driver': 'SQL Server',
    'server': '127.0.0.1,1433',
    'database': 'UasExample',
    'trusted_connection': 'yes'}

connection_url = URL.create(
    "mssql+pyodbc",
    query={
        "odbc_connect": f"DRIVER={{{connection_params['driver']}}};"
                        f"SERVER={connection_params['server']};"
                        f"DATABASE={connection_params['database']};"
                        f"Trusted_Connection={connection_params['trusted_connection']};"})

engine = create_engine(connection_url)
if engine:
    %load_ext sql
    %sql engine
    print('Conected successfully!')
else:
    print('Conected unsuccessfully!')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Conected successfully!

## Aggregate Functions
Almost of all Aggregates doesn't count the null values, but Count command does.
### Min
> It selects the least value of the group.

In [2]:
%%sql
select concat('$',min(DessertPrice)) as [Min Price]
from MsDessert

Running query in 'mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D127.0.0.1%2C1433%3BDATABASE%3DUasExample%3BTrusted_Connection%3Dyes%3B'

+-----------+
| Min Price |
+-----------+
|    $10    |
+-----------+

### Max
> It selects the most value of the group.

In [3]:
%%sql
select concat('$',max(DessertPrice)) as [Max Price]
from MsDessert

Running query in 'mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D127.0.0.1%2C1433%3BDATABASE%3DUasExample%3BTrusted_Connection%3Dyes%3B'

+-----------+
| Max Price |
+-----------+
|    $35    |
+-----------+

### Count
> The overall function of this query command is to count how much data is stored on a table.

In [4]:
%%sql
select count(DessertTypeID) as [Total Type of Desserts]
from MsDessertType

Running query in 'mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D127.0.0.1%2C1433%3BDATABASE%3DUasExample%3BTrusted_Connection%3Dyes%3B'

+------------------------+
| Total Type of Desserts |
+------------------------+
|           5            |
+------------------------+

### Sum
> The overall function of this query command is to do counting activities (integers, double, float).

In [5]:
%%sql
select concat('$',sum(DessertPrice)) as [Total Price of all Desserts]
from MsDessert

Running query in 'mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D127.0.0.1%2C1433%3BDATABASE%3DUasExample%3BTrusted_Connection%3Dyes%3B'

+-----------------------------+
| Total Price of all Desserts |
+-----------------------------+
|             $403            |
+-----------------------------+

### Avg
> The overall function of this query command is to count for the average from the values ina table.

In [6]:
%%sql
select concat('$',avg(DessertPrice)) as [Average Price]
from MsDessert

Running query in 'mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D127.0.0.1%2C1433%3BDATABASE%3DUasExample%3BTrusted_Connection%3Dyes%3B'

+---------------+
| Average Price |
+---------------+
|      $20      |
+---------------+

## Set Operators
### Union
> this function is used to combine 1 column(within a query statement) with another, it only takes the distinct values, it has some constraints, and that is:
>- It needs the same number of columns.
>- Similar data type.
>- Have the same order.

In [7]:
%%sql
select CustomerName as Name
from MsCustomer
union
select Staffname as Name
from MsStaff

Running query in 'mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D127.0.0.1%2C1433%3BDATABASE%3DUasExample%3BTrusted_Connection%3Dyes%3B'

+----------------+
|      Name      |
+----------------+
|  Alex Meekins  |
|  Amy Grenkov   |
| Cherice Jermey |
|  Chet Marrie   |
|  Clem Wijaya   |
|   Curr Rosie   |
|  Darsie Sari   |
|  Dene Budiman  |
| Desmond Oswind |
| Dirk Titterell |
+----------------+
Truncated to displaylimit of 10.

### Intersect
>It is used just like Union, to combine 2 queries, but it will return values that has both of the prerequisites(or is the same) in both of the queries.

In [8]:
%%sql
select DessertName
from MsDessert
where DessertID in (select DessertID from TransactionDetail)
intersect
select DessertName
from MsDessert

Running query in 'mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D127.0.0.1%2C1433%3BDATABASE%3DUasExample%3BTrusted_Connection%3Dyes%3B'

+--------------------+
|    DessertName     |
+--------------------+
|   Avocado Juice    |
|    Banana Kolak    |
|  Blueberry Yogurt  |
| Chocolate Snow Ice |
|    Mango Juice     |
|   Mangoo Pudding   |
|  Mangoo Snow Ice   |
|   Matcha Bingsoo   |
|   Matcha Pudding   |
|  Mix Fruit Yogurt  |
+--------------------+
Truncated to displaylimit of 10.

### Except
> it is used the other way around Intersect, it returns only the unique values from both of the queries.

In [9]:
%%sql
select CustomerName as Name
from MsCustomer
except
select StaffName as Name
from MsStaff

Running query in 'mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D127.0.0.1%2C1433%3BDATABASE%3DUasExample%3BTrusted_Connection%3Dyes%3B'

+-------------------+
|        Name       |
+-------------------+
|    Alex Meekins   |
|    Amy Grenkov    |
|   Cherice Jermey  |
|   Dirk Titterell  |
|    Dukey Diano    |
|   Gabriela Scarf  |
| Hadleigh Playfoot |
|   Ingamar Carlin  |
|   Javier Drewson  |
|  Pooh McCutcheon  |
+-------------------+
Truncated to displaylimit of 10.

## Data Control Langauge (DCL)
### Grant
> It is used to give a permission to use some query commands to a user / role.

In [ ]:
%%sql
-- MISC TO TEST OUT THE ONES BELOW (NOT RELATED)
create login Admin
with password = 'Testocando'

create user AjiGaming
for login Admin

In [ ]:
%%sql
-- I don't know either it's me the one who is dumb or grant and revoke is just not runnable by Jupyter Notebook
grant select, insert, update, references, alter, execute on MsCustomer to Admin with grant option as Owner

### Revoke
> It is used to de-permission a user / role to use some query commands.

In [ ]:
%%sql
-- I don't know either it's me the one who is dumb or grant and revoke is just not runnable by Jupyter Notebook
revoke select, insert, update, references, alter, execute on MsCustomer from Admin

## Subqueries
### In
*Explaination Provided by Tri Setyaji Partly*
> In is used to check if a value matches any value in a list of specified values or the result of a subquery
> - In requires that the type that we choose in the where statement, is provided in the select of the subquery

In [3]:
%%sql
--provided by Ezzedin
select CustomerName, CustomerAddress
from MsCustomer mc
where CustomerID in(
	select CustomerID
	from TransactionHeader th
	group by CustomerID
	having count(TransactionID) > (
		select avg(TransactionCount) from (
			select CustomerID, count(TransactionID) as TransactionCount
			from TransactionHeader th
			group by CustomerID
		)AvgTransaction))

Running query in 'mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D127.0.0.1%2C1433%3BDATABASE%3DUasExample%3BTrusted_Connection%3Dyes%3B'

+-----------------+---------------------------+
|   CustomerName  |      CustomerAddress      |
+-----------------+---------------------------+
|   Dukey Diano   |       92 Sugar Alley      |
|  Ingamar Carlin |      389 Surrey Pass      |
|  Silvain Jozsa  |    19269 Maryland Hill    |
| Wilbur Francino |  21840 Golden Leaf Avenue |
|   Amy Grenkov   | 2263 Weeping Birch Center |
+-----------------+---------------------------+

### Exists
*Explaination Provided by Tri Setyaji Partly*
> Exists is used to check if a subquery returns any rows
> - The query inside and outside must be connected, an example below, we connect the StaffID from MsStaff in the inner query and StaffID from TransactionHeader in the outer query

In [4]:
%%sql
--provided by Ezzedin
select CustomerName, count(TransactionID) as 'NumberOfTransaction' 
from MsCustomer mc
join TransactionHeader th on mc.CustomerID = th.CustomerID
where CustomerGender = 'Female' and exists(
	select 1
	from MsStaff ms
	where th.StaffID = ms.StaffID and StaffGender = 'Male')
group by CustomerName

Running query in 'mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D127.0.0.1%2C1433%3BDATABASE%3DUasExample%3BTrusted_Connection%3Dyes%3B'

+-------------------+---------------------+
|    CustomerName   | NumberOfTransaction |
+-------------------+---------------------+
| Hadleigh Playfoot |          1          |
|   Javier Drewson  |          1          |
|   Silvain Jozsa   |          1          |
|    Sofie Carmen   |          1          |
|   Westley Boram   |          1          |
|  Wilbur Francino  |          2          |
+-------------------+---------------------+

## Joins
### Inner Join
![Inner Join Example (Diagram)](D:\sunib\Python\Test\img_inner_join.png)

In [6]:
%%sql
select th.TransactionID, CustomerName, StaffName, TransactionDate
from TransactionHeader th
inner join MsCustomer c on th.CustomerID = c.CustomerID
inner join MsStaff s on th.StaffID = s.StaffID

Running query in 'mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D127.0.0.1%2C1433%3BDATABASE%3DUasExample%3BTrusted_Connection%3Dyes%3B'

+---------------+-----------------+-----------------------+-----------------+
| TransactionID |   CustomerName  |       StaffName       | TransactionDate |
+---------------+-----------------+-----------------------+-----------------+
|     TR001     | Pooh McCutcheon | Dorothea Santoso Jaya |    2020-09-06   |
|     TR002     |   Amy Grenkov   |      Clem Wijaya      |    2020-06-05   |
|     TR003     | Wilbur Francino |   Ruddi Yudi Chandra  |    2020-12-18   |
|     TR004     |   Alex Meekins  |      Clem Wijaya      |    2020-12-15   |
|     TR005     |   Sofie Carmen  |     Tyrone Potter     |    2020-08-04   |
|     TR006     |   Dukey Diano   |      Tabby Tobing     |    2021-02-19   |
|     TR007     |  Cherice Jermey |       Curr Rosie      |    2021-01-01   |
|     TR008     |  Javier Drewson |       Don Tello       |    2021-04-28   |
|     TR009     |   Amy Grenkov   |      Chet Marrie      |    2020-06-22   |
|     TR010     | Wilbur Francino |      Shanda Dewi      |    2020-06-13   |
+---------------+-----------------+-----------------------+-----------------+
Truncated to displaylimit of 10.

### Outer Joins
- Left Outer Join

In [7]:
%%sql
select CustomerName, th.TransactionID, TransactionDate
from MsCustomer c
left outer join TransactionHeader th on c.CustomerID = th.CustomerID

Running query in 'mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D127.0.0.1%2C1433%3BDATABASE%3DUasExample%3BTrusted_Connection%3Dyes%3B'

+-----------------+---------------+-----------------+
|   CustomerName  | TransactionID | TransactionDate |
+-----------------+---------------+-----------------+
|  Dirk Titterell |     TR014     |    2020-08-22   |
|   Dukey Diano   |     TR006     |    2021-02-19   |
|   Dukey Diano   |     TR018     |    2021-04-05   |
|   Alex Meekins  |     TR004     |    2020-12-15   |
|  Cherice Jermey |     TR007     |    2021-01-01   |
|  Ingamar Carlin |     TR013     |    2021-03-18   |
|  Ingamar Carlin |     TR017     |    2020-03-28   |
| Pooh McCutcheon |     TR001     |    2020-09-06   |
|  Silvain Jozsa  |     TR011     |    2020-06-04   |
|  Silvain Jozsa  |     TR016     |    2020-01-02   |
+-----------------+---------------+-----------------+
Truncated to displaylimit of 10.

- Right Outer Join

In [8]:
%%sql
select th.TransactionID, TransactionDate, CustomerName
from TransactionHeader th
right outer join MsCustomer c on th.CustomerID = c.CustomerID

Running query in 'mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D127.0.0.1%2C1433%3BDATABASE%3DUasExample%3BTrusted_Connection%3Dyes%3B'

+---------------+-----------------+-----------------+
| TransactionID | TransactionDate |   CustomerName  |
+---------------+-----------------+-----------------+
|     TR014     |    2020-08-22   |  Dirk Titterell |
|     TR006     |    2021-02-19   |   Dukey Diano   |
|     TR018     |    2021-04-05   |   Dukey Diano   |
|     TR004     |    2020-12-15   |   Alex Meekins  |
|     TR007     |    2021-01-01   |  Cherice Jermey |
|     TR013     |    2021-03-18   |  Ingamar Carlin |
|     TR017     |    2020-03-28   |  Ingamar Carlin |
|     TR001     |    2020-09-06   | Pooh McCutcheon |
|     TR011     |    2020-06-04   |  Silvain Jozsa  |
|     TR016     |    2020-01-02   |  Silvain Jozsa  |
+---------------+-----------------+-----------------+
Truncated to displaylimit of 10.

- Full Outer Join

In [9]:
%%sql
select CustomerName, th.TransactionID, TransactionDate
from MsCustomer c
full outer join TransactionHeader th on c.CustomerID = th.CustomerID

Running query in 'mssql+pyodbc://?odbc_connect=DRIVER%3D%7BSQL+Server%7D%3BSERVER%3D127.0.0.1%2C1433%3BDATABASE%3DUasExample%3BTrusted_Connection%3Dyes%3B'

+-----------------+---------------+-----------------+
|   CustomerName  | TransactionID | TransactionDate |
+-----------------+---------------+-----------------+
|  Dirk Titterell |     TR014     |    2020-08-22   |
|   Dukey Diano   |     TR006     |    2021-02-19   |
|   Dukey Diano   |     TR018     |    2021-04-05   |
|   Alex Meekins  |     TR004     |    2020-12-15   |
|  Cherice Jermey |     TR007     |    2021-01-01   |
|  Ingamar Carlin |     TR013     |    2021-03-18   |
|  Ingamar Carlin |     TR017     |    2020-03-28   |
| Pooh McCutcheon |     TR001     |    2020-09-06   |
|  Silvain Jozsa  |     TR011     |    2020-06-04   |
|  Silvain Jozsa  |     TR016     |    2020-01-02   |
+-----------------+---------------+-----------------+
Truncated to displaylimit of 10.